opencv-python>=4.5.0
pykitti
simple-parsing
tqdm
imutils
--extra-index-url https://download.pytorch.org/whl/cu117
torch>=1.13.1
torchvision
av
pytorch_lightning
clearml
tensorboard
# Development requirements
pylint
black